{% load static %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Мои чаты</title>
        <link rel="stylesheet" href="{% static 'chat.css' %}" />
    </head>
    <body>
        <div class="page-container">
            <div class="nav-buttons">
                <div>
                    <a href="{% url 'main_page' %}" class="back-main">Главная страница</a>
                </div>
                <div></div>
            </div>

            <div class="content">
                <h1>Ваши чаты</h1>

                {% if chats %}
                <ul class="chats-container" style="height: auto; padding: 0">
                    {% for chat in chats %}
                    <li
                        class="single-message"
                        style="margin: 10px 0; list-style: none"
                    >
                        <a
                            href="{% url 'chat-room' chat.room_name %}"
                            class="msg-body"
                            style="
                                text-decoration: none;
                                color: #0056d3;
                                display: block;
                            "
                        >
                            {{ chat.room_name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div
                    class="single-message"
                    style="text-align: center; color: #666"
                >
                    <p class="msg-body">У вас пока нет активных чатов</p>
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>
