{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--metatextblock-->
    <title>register</title>
    <meta property="og:title" content="register" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <!--/metatextblock-->

    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">

    <link rel="stylesheet" href="{% static 'css/tilda-grid-3.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tilda-blocks-page66834437.min.css' %}?t=1744390904">
    <link rel="stylesheet" href="{% static 'css/tilda-cover-1.0.min.css' %}">

    <script type="text/javascript">
        function t_onReady(func) {
            if (document.readyState != 'loading') {
                func();
            } else {
                document.addEventListener('DOMContentLoaded', func);
            }
        }

        function t_onFuncLoad(funcName, okFunc, time) {
            if (typeof window[funcName] === 'function') {
                okFunc();
            } else {
                setTimeout(function() {
                    t_onFuncLoad(funcName, okFunc, time);
                }, (time || 100));
            }
        }
    </script>

    <script src="{% static 'js/tilda-blocks-page66834437.min.js' %}?t=1744390904"></script>
    <script src="{% static 'js/lazyload-1.3.min.export.js' %}"></script>
    <script src="{% static 'js/tilda-cover-1.0.min.js' %}"></script>

    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
    </script>
</head>

<body class="t-body" style="margin:0;">
    <!--allrecords-->
    <div id="allrecords" data-export="yes" class="t-records" data-hook="blocks-collection-content-node" data-project-id="12859425" data-page-id="66834437" data-formskey="4379c928b526a286689fefc012859425" data-cookie="no" data-lazy="yes" data-root-zone="com">

        <div id="rec950453081" class="r t-rec t-rec_pt_135 t-rec_pb_90" style="padding-top:135px;padding-bottom:90px;" data-record-type="33">
            <div class="t017">
                <div class="t-container t-align_center">
                    <div class="t-col t-col_10 t-prefix_1">
                        <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle">
                            <div style="font-size: 32px;" data-customstyle="yes">Сердечный Партнер</div>
                        </div>
                        <div class="t017__title t-title t-title_xxs" field="title">Сайт для подбора супруга</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="rec950453376" class="r t-rec" style="" data-animationappear="off" data-record-type="18">
            <div class="t-cover" id="recorddiv950453376" bgimgfield="img" style="height:100vh;background-image:url('images/lib__unsplash__4d8a939e-3880-68ad-e7ec-05c40029b318__-__resize__20x__photo.jpg');">
                <div class="t-cover__carrier" id="coverCarry950453376" data-content-cover-id="950453376" data-content-cover-bg="" data-display-changed="true" data-content-cover-height="100vh" style="height:100vh;background-attachment:scroll;" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="image">
                </div>

                <div class="t-cover__filter" style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c000000', endColorstr='#4c000000');"></div>

                <div class="t-container">
                    <div class="t-col t-col_12 ">
                        <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                            <div class="t001 t-align_center">
                                <div class="t001__wrapper" data-hook-content="covercontent">
                                    <div class="t001__uptitle t-uptitle t-uptitle_sm" field="subtitle">Найдите свою вторую половинку с нами</div>
                                    <div class="t001__title t-title t-title_xl" field="title">Мы помогаем вам найти настоящую любовь и построить крепкие отношения на основе совместных интересов, ценностей и стремлений.</div>
                                    <div class="t001__descr t-descr t-descr_xl t001__descr_buttons t001__descr_center" field="descr">
                                        <strong>Готовы встретить свою судьбу?</strong> Начните прямо сейчас!
                                    </div>
                                    <div class="t001__buttons">
                                        <div class="t001__btn-wrapper t-btnwrapper">
                                            <a href="{% url 'register' %}" class="t001__btn t-btn t-btn_md" style="color:#000000;background-color:#ffffff;border-radius:30px;text-decoration:none;display:inline-block;">
                                                Регистрация
                                            </a>
                                        </div>
                                        <div class="t001__btn-wrapper t-btnwrapper">
                                            <a href="{% url 'login' %}" class="t001__btn t-btn t-btn_md" style="color:#000000;background-color:#ffffff;border-radius:30px;text-decoration:none;display:inline-block;">
                                                Войти
                                            </a>
                                        </div>
                                    </div>
                                    <span class="space"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #rec950453376 .t001__uptitle {
                    text-transform: uppercase;
                }
            </style>
        </div>
    </div>
</body>

</html>